body {
    background-image: url("../images/ancient-arena.jpg");
    background-repeat: repeat-y;
    background-size: auto;
}
#header {
    background: rgba(58, 58, 58, 0.87);
    color: rgb(255, 255, 255);
    text-align: center;
}
.gif {
    border: 1px solid rgb(66, 66, 66);
}
.main {
    width: 70%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    padding: 80px;
    margin: 0 auto;
}